@import "reset";

:root {
  --dark-1: rgba(23, 23, 23, 1);
  --dark-2: rgba(33, 33, 33, 1);
  --gray-3: rgba(130, 130, 130, 1);
  --gray-4: rgba(189, 189, 189, 1);
  --orange: rgba(190, 113, 60, 1);
  --orange-light: rgba(245, 226, 195, 1);
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('./fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-Semibold';
  src: url('./fonts/Montserrat-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Montserrat-Light', 'Montserrat-Regular', 'Montserrat-Medium', 'Montserrat-Bold', 'Montserrat-Semibold', sans-serif;
}